APP_NAME=

APP_VERSION=

DEBUG=

API_V1_PREFIX=

HOST=

PORT=

SECRET_KEY=

ACCESS_TOKEN_EXPIRE_MINUTES=

ENCRYPTION_KEY=

DRIVER_NAME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

LOG_LEVEL=

REACT_URL=