fastapi==0.116.1
uvicorn[standard]==0.35.0

sqlalchemy
psycopg2-binary

alembic

pydantic==2.11.7
pydantic-settings==2.10.1

python-dotenv==1.1.1

python-jose[cryptography]==3.5.0

passlib[bcrypt]

python-multipart

redis

paramiko

apscheduler

prometheus-client

httpx

loguru

orjson

email-validator